@charset 'UTF-8';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'plugins';

body {
  margin: 0;
}

#animate {
    .section {
        font: {
            size: 30px;
        }
        text: {
            align: center;
        }
    }
}
a {
  transition: .5s
}
.navigation {
  background: {
    image: url(../img/topbarscall.svg);
    size: cover;
    repeat: no-repeat;
  }
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  text-align: center;
}
.navigation li a {
  font {
    family: 'Trebuchet MS', Arial, sans-serif;
    size: 28px;
  }
  color: rgba(255, 255, 255, 0.6);
}
.escalopa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.presentacion {
  padding-top: 180px;
  padding-left:50px;
  padding-right:50px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
   color:white;
}
.fondo1 {
  display: block;
  width: 100%;
  height: 1000px;
  repeat: repeat;
  background: url(../img/fondotazas.svg);
  z-index:1;
}