@charset 'UTF-8';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'plugins';

#animate {
    .section {
        font: {
            size: 30px;
        }
        text: {
            align: center;
        }
    }
}